/* main styles */

:root {
    --fuente_heading: 'PT Sans', sans-serif;
    --fuente_parrafos: 'Open Sans', sans-serif;
    --primario: #784d3c;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuente_parrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* general */

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuente_heading);
    line-height: 1.2;
    text-transform: capitalize;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/* utilities */

.no_margin {
    margin: 0;
}

.no_padding {
    padding: 0;
}

.centrar_texto {
    text-align: center;
}

/*header */

.header {
    background-image: url(/img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__txt {
    text-align: center;
    color: white;
    margin-top: 5rem;
}

@media (min-width:780px) {
    .header__txt {
        margin-top: 15rem;
    }
}

/* navbar */

.navbar {
    padding-top: 2rem;
}

@media (min-width:780px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    color: white;
}

.logo__nombre {
    font-weight: 400;
}

.logo__bold {
    font-weight: 800;
}

@media (min-width:780px) {
    .navbar__links {
        display: flex;
        gap: 2.5rem;
    }
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: white;
}

/* main*/

@media (min-width:780px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada {
    border-bottom: 1px solid #808080;
    margin-bottom: 2rem;
}

.entrada:last-of-type {
    margin: 0;
    border: none;
}

.boton {
    display: block;
    font-family: var(--fuente_heading);
    text-align: center;
    color: white;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
    border: none;
}

@media (min-width:780px) {
    .boton {
        display: inline-block;
    }
}

.boton__primario {
    background-color: #000000;
}

/* siebar */

.boton__secundario {
    background-color: var(--primario);
}

.cursos {
    list-style: none;
}

.widget-curso {
    border-bottom: 1px solid #808080;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.widget-curso:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

.widget-curso_label,
.curso__label {
    font-family: var(--fuente_heading);
    font-weight: 700;
}

.widget-curso_info,
.curso__info {
    font-weight: 400;
}

/*  footer  */

.footer {
    background-color: black;
    padding: 2rem 0;
    margin-top: 4rem;
}

/* nosotros page  */

@media (min-width:780px) {
    .sobre-nosotros {
        display: flex;
       justify-content: space-between;
    }
    .sobre-nosotros_img, .sobre-nosotros_txt {
        flex-basis: calc(50% - 2rem);
    }

}
/* curso  */
.curso{
    border-bottom: 1px solid #808080;
    padding: 3rem 0;
}
@media (min-width:780px){
    .curso{
        display: grid;
        grid-template-columns:1fr 2fr;
        gap: 2rem;
    }
  
}
.curso:last-of-type {
    border-bottom: 0;
}
/* contact  form */
.contacto-bg{
    background-image:url(/img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.formulario{
background-color: #fff;
margin: -5rem auto 0 auto;
width: 90%;
padding: 5rem;
}
.campo{
display: flex;
margin-bottom: 2rem;

}
.campo__label{
flex: 0 0 9rem;
text-align: right;
padding-right: 2rem;
}
.campo__field{
flex: 1;
}
.campo__field--textarea{
border: 1px solid #808080;
height: 20rem;
width: 100%;
}